---
import Layout from '../../layouts/en/Layout.astro';
import Header from '../../components/en/Header.astro'
import Navbar from '../../components/en/Navbar.astro';
import Experience from '../../components/en/Experience.astro'
import Proyects from '../../components/en/Proyects.astro'
import AboutMe from '../../components/en/AboutMe.astro';
import Footer from '../../components/en/Footer.astro'
import Contact from '../../components/en/Contact.astro';
import TranslateIsle from '../../components/Translate'
import { getRelativeLocaleUrl } from 'astro:i18n';

// defaultLocale is "en"
const aboutURL=getRelativeLocaleUrl("en", "about");

---

<Layout title="chLuis Portfolio">
	<main>
		<Navbar />
		<Header />
		<Experience />
		<Proyects />
		<AboutMe />
		<Contact/>
		<TranslateIsle client:only="preact" />
	</main>
	<Footer />
</Layout>

<style is:global>
	main {
		font-family: system-ui, sans-serif;
		margin: auto;
		padding: 6px;
		padding-bottom: 0;
		width: 100dvw;
		max-width: calc(100%);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		overflow-x: clip;
	}
	section {
		display: block;
		max-width: 800px;
		margin-inline: auto;
		animation: reveal 2s linear both;
		-webkit-animation: reveal 2s linear both;
		animation-timeline: view();
		animation-range-start: entry 200px;
		animation-range-end: exit 500px;
		/* -webkit-animation-timeline: view();
		-webkit-animation-range-start: entry 500px;
		-webkit-animation-range-end: exit -200px; */

	}

	
	
	@keyframes reveal {
		0% {
			scale: 1;
			opacity: 0;
			transform: translateY(0%);
		}
		1% {
			transform: translateY(20%);
			opacity: 0;
			scale: 1;
		}
		2% {
			scale: 2;
		}
		20% {
			opacity: 1;
			scale: 1;
			transform: translateY(0%);
		}
		90% {
			opacity: 1;
			transform: translateY(0%);
			scale: 1;
		}
		98% {
			opacity: 1;
		}
		99% {
			opacity: 0;
			transform: translateY(0%);
			scale: 2;
		}
		100% {
			scale: 1;
			opacity: 0;
		}
	}
	@-webkit-keyframes reveal {
		0% {
			scale: 2;
			opacity: 0;
			transform: translateY(50%);
		}
		50% {
			scale: 1;
			transform: translateY(0%);
		}
		90% {
		}
		100% {
			opacity: 1;
			scale: 1;
		}
	}
</style>
