---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
import Navbar from '../components/Navbar.astro';
import AboutMe from '../components/AboutMe.astro';
import Proyects from '../components/Proyects.astro'
import Footer from '../components/Footer.astro'
---

<Layout title="chLuis Portolio">
	<main>
		<Navbar />
		<Header />
		<AboutMe />
		<Proyects />
	</main>
	<Footer />
</Layout>

<style>
	main {
		margin: auto;
		padding: 6px;
		padding-bottom: 0;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	
</style>
