---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
import Navbar from '../components/Navbar.astro';
import Experience from '../components/Experience.astro'
import Proyects from '../components/Proyects.astro'
import AboutMe from '../components/AboutMe.astro';
import Footer from '../components/Footer.astro'
import Contact from '../components/Contact.astro';
import Translate from '../components/Translate.astro';
---

<Layout title="chLuis Portolio">
	<main>
		<Navbar />
		<Header />
		<Experience />
		<Proyects />
		<AboutMe />
		<Contact />
		<Translate />
	</main>
	<Footer />
</Layout>

<style is:global>
	main {
		font-family: system-ui, sans-serif;
		margin: auto;
		padding: 6px;
		padding-bottom: 0;
		width: 100dvw;
		max-width: calc(100%);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		overflow-x: clip;
	}
	section {
		display: block;
		max-width: 800px;
		margin-inline: auto;
		animation: reveal 2s linear both;
		-webkit-animation: reveal 2s linear both;
		animation-timeline: view();
		animation-range-start: entry;
		animation-range-end: contain;
		-webkit-animation-timeline: view();
		-webkit-animation-range-start: entry;
		-webkit-animation-range-end: contain;

	}

	
	
	@keyframes reveal {
		0% {
			scale: 2;
			opacity: 0;
			transform: translateY(50%);
		}
		50% {
			scale: 1;
			transform: translateY(0%);
		}
		90% {
		}
		100% {
			opacity: 1;
			scale: 1;
		}
	}
	@-webkit-keyframes reveal {
		0% {
			scale: 2;
			opacity: 0;
			transform: translateY(50%);
		}
		50% {
			scale: 1;
			transform: translateY(0%);
		}
		90% {
		}
		100% {
			opacity: 1;
			scale: 1;
		}
	}
</style>
