---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro'
import Navbar from '../components/Navbar.astro';
import Experience from '../components/Experience.astro'
import Proyects from '../components/Proyects.astro'
import AboutMe from '../components/AboutMe.astro';
import Footer from '../components/Footer.astro'
import Contact from '../components/Contact.astro';
import Translate from '../components/Translate.astro';
---

<Layout title="chLuis Portolio">
	<main>
		<Navbar />
		<Header />
		<Experience />
		<Proyects />
		<AboutMe />
		<Contact />
		<Translate />
	</main>
	<Footer />
</Layout>

<style is:global>
	main {
		font-family: system-ui, sans-serif;
		margin: auto;
		padding: 6px;
		padding-bottom: 0;
		width: 100dvw;
		max-width: calc(100%);
		color: white;
		font-size: 20px;
		line-height: 1.6;
		overflow-x: clip;
	}
	section {
		display: block;
		max-width: 800px;
		margin-inline: auto;
		animation: reveal 2s linear forwards;


	}

	
	@keyframes reveal {
		0% {
		
			opacity: 0;
		}

		
		100% {
			opacity: 1;

		}
	}
	
</style>
