---

---

<section id="experience" class="px-5 pt-24">
    <h2 class="text-4xl font-extrabold mb-6 text-center sm:text-start pb-2 sm:pb-0 px-5">EXPERIENCIA</h2>
    <div class="flex justify-between ">
    <div class="flex flex-col text-gray-100">
        <div class="flex flex-nowrap ">
            <div class="min-w-20 sm:min-w-28 text-xs text-end py-2 pe-3 border-r"> <span class="font-extralight">Diciembre</span> <span class="relative font-extrabold"><span class="absolute top-0 -right-[27px] sm:-top-2 sm:-right-[27px]"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-point-filled" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" stroke-width="0" fill="currentColor" /></svg></span>2023</span></div>
            <div class="px-6 text-base md:text-lg text-pretty pb-12 sm:pb-16">
                Decido empezar un curso de <span class="text-orange-300">Diseño UI</span> en Udemy para mejorar en mis habilidades como FrontEnd.
            </div>
        </div>
        <div class="flex flex-nowrap">
            <div class="min-w-20 sm:min-w-28 text-xs text-end py-2 pe-3 border-r"> <span class="font-extralight">Noviembre</span> <span class="relative font-extrabold"><span class="absolute top-0 -right-[27px] sm:-top-2 sm:-right-[27px]"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-point-filled" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" stroke-width="0" fill="currentColor" /></svg></span>2023</span></div>
            <div class="px-6 text-base md:text-lg text-pretty pb-12 sm:pb-16">
                Comienzo el <span class="text-orange-300">desarrollo de una página Web</span> para una peluquería canina. Dicha página posee un CRUD para todos sus clientes, una agenda para organizar sus turnos, un e-commerce para sus productos, una galería con fotos de sus clientes, una página de información sobre los origenes del comercio.
            </div>
        </div>
        <div class="flex flex-nowrap">
            <div class="min-w-20 sm:min-w-28 text-xs text-end py-2 pe-3 border-r"> <span class="font-extralight">Septiembre</span> <span class="relative font-extrabold"><span class="absolute top-0 -right-[27px] sm:-top-2 sm:-right-[27px]"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-point-filled" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" stroke-width="0" fill="currentColor" /></svg></span>2023</span></div>
            <div class="px-6 text-base md:text-lg text-pretty pb-12 sm:pb-16">
                Comienzo cursos de <span class="text-orange-300">Next.js</span> en Udemy, empiezo a incluir dentro de mis habilidades a Tailwind CSS.
            </div>
        </div>
        <div class="flex flex-nowrap">
            <div class="min-w-20 sm:min-w-28 text-xs text-end py-2 pe-3 border-r"> <span class="font-extralight">Agosto</span> <span class="relative font-extrabold"><span class="absolute top-0 -right-[27px] sm:-top-2 sm:-right-[27px]"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-point-filled" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" stroke-width="0" fill="currentColor" /></svg></span>2023</span></div>
            <div class="px-6 text-base md:text-lg text-pretty pb-12 sm:pb-16">
                Culmino el curso realizando la presentación del último proyecto como Fullstack usando el stack MERN (MongoDB, Express, React, Node.js). <span class="text-orange-300">Soy reconocido en mi comisión como alumno destacado</span> por mi participación y ganas de aprender.
            </div>
        </div>
        <div class="flex flex-nowrap">
            <div class="min-w-20 sm:min-w-28 text-xs text-end py-2 pe-3 border-r"> <span class="font-extralight">Octubre</span> <span class="relative font-extrabold"><span class="absolute top-0 -right-[27px] sm:-top-2 sm:-right-[27px]"><svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-point-filled" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" stroke-width="0" fill="currentColor" /></svg></span>2022</span></div>
            <div class="px-6 text-base md:text-lg text-pretty pb-12 sm:pb-16">
                Habiendo dado ya mis primeros pasos, decido adentrarme mas en el mundo de la programación por lo que me inscribo en Rolling Code School en su curso de <span class="text-orange-300">Desarrollador FullStack</span>. 
            </div>
        </div>
        <div class="flex flex-nowrap">
            <div class="min-w-20 sm:min-w-28 text-xs text-end py-2 pe-3 border-r">
                <span class="font-extralight">Agosto</span>
                <span class="relative font-extrabold">
                    <span class="absolute top-0 -right-[27px] sm:-top-2 sm:-right-[27px]">
                        <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-point-filled" width="30" height="30" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M12 7a5 5 0 1 1 -4.995 5.217l-.005 -.217l.005 -.217a5 5 0 0 1 4.995 -4.783z" stroke-width="0" fill="currentColor" /></svg>
                    </span>2022</span></div>
            <div class="px-6 text-base md:text-lg text-pretty pb-12 sm:pb-16">
                Mi primer contacto en la programación, comence a realizar cursos de HTML, CSS, JavaScript y React de manera autodidacta.
            </div>
        </div>
    </div>
    </div>
</section>
