---
console.log("Navbar");
---

<navbar id="home">
    <ul class="fixed top-0 left-0 right-0 flex text-lg gap-6 py-2 justify-center bg-sky-950 z-50 bg-opacity-90 hover:bg-opacity-100 duration-200">
        <a href="#home"><li class="hover:border hover:border-t-0 hover:border-x-0">Inicio</li></a>
        <a href="#about"><li class="hover:border hover:border-t-0 hover:border-x-0">About</li></a>
        <a href="#proyects"><li class="hover:border hover:border-t-0 hover:border-x-0">Proyects</li></a>
        <a href="#contact"><li class="hover:border hover:border-t-0 hover:border-x-0">Contact</li></a>
    </ul>
</navbar>