---
---
<section id="experience" class="px-5 py-10">
    <header>
        <h2 class="text-4xl font-extrabold mb-6 mt-6 text-center sm:text-start pb-2 sm:pb-0 border-b border-white uppercase">Experience</h2>
    </header>
    <article class="flex max-w-[640px] flex-col mt-8 gap-3 py-2 text-[18px] border-t border-b border-transparent hover:border-orange-300  duration-200">
        <h3 class="italic text-base flex gap-2 w-fit items-center justify-center">
            <span>· November 2023</span>
            <a href="https://lenguaafuera.vercel.app/" target="_blank" rel="noopener noreferrer" class="flex justify-center items-center w-fit gap-2 border-b-2 border-transparent hover:border-orange-400 duration-200 pe-6 hover:pe-0 hover:text-orange-400"> 
                <svg xmlns="http://www.w3.org/2000/svg" height="24" viewBox="0 -960 960 960" width="24" fill="white" class="pt-1"><path d="M431.499-304.117H283.962q-73.397 0-124.64-51.24-51.244-51.241-51.244-124.634t51.244-124.643q51.243-51.249 124.64-51.249h147.537v55.96H283.771q-49.579 0-84.656 34.959-35.077 34.959-35.077 84.846t34.994 84.964q34.994 35.077 84.93 35.077h147.537v55.96Zm-98.268-148.307v-55.96h293.538v55.96H333.231Zm195.27 148.307v-55.96h147.728q49.579 0 84.656-34.959 35.077-34.959 35.077-84.846t-34.994-84.964q-34.994-35.077-84.93-35.077H528.501v-55.96h147.537q73.397 0 124.64 51.24 51.244 51.241 51.244 124.634t-51.244 124.643q-51.243 51.249-124.64 51.249H528.501Z"/></svg>
                <span>web link</span>
            </a>
        </h3>
            <div class="ps-4">
            <h4><span class="text-orange-400 italic">Design and Development</span> of a Comprehensive Website for a Dog Grooming Salon.</h4>
            <ul class="ps-4 text-base flex flex-col gap-2">
                <li><span class="font-semibold tex-base underline">Client Management:</span><span> I implemented a <span class="text-orange-500">CRUD</span>(Create, Read, Update, Delete) system to efficiently handle all client data.</span></li>
                <li><span class="font-semibold tex-base underline">Appointment Calendar:</span><span> An interactive calendar for organizing and managing appointments, thereby improving operational efficiency.</span></li>
                <li><span class="font-semibold tex-base underline">E-commerce:</span><span> A secure and user-friendly e-commerce platform for product sales, enabling the business to expand into online sales.</span></li>
                <li><span class="font-semibold tex-base underline">Photo Gallery:</span><span> To showcase canine clients and the services offered.</span></li>
                <li><span class="font-semibold tex-base underline">Information Page:</span><span> {"A detailed page narrating the business’s history and origins."}</span></li>
            </ul>
            <p class="mt-4">This project was an invaluable opportunity for me to grow as a developer, learning to balance client needs with best web development practices.</p>
    </div>
    </article>
</section>