---

---
<script>
    window.addEventListener('scroll', function() {
    let fromTop = window.scrollY;

    document.querySelectorAll('.navbarContainer a').forEach(link => {
        let section = document.querySelector((link as HTMLAnchorElement).hash);

        if (
            (section as HTMLElement).offsetTop - 20 <= fromTop &&
            (section as HTMLElement).offsetTop - 20 + (section as HTMLElement).offsetHeight > fromTop
        ) {
            link.classList.add('active');
        } else {
            link.classList.remove('active');
        }
    });
});
</script>

<navbar id="home">
    <ul class="navbarContainer fixed top-0 left-0 right-0 flex text-lg font-bold gap-3 pb-2 justify-center items-center bg-stone-900 z-50 bg-opacity-90 hover:bg-opacity-100 duration-200">
        <a href="#home">
            <li class="">
                <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-home" width="20" height="20" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round"><path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                    <path d="M5 12l-2 0l9 -9l9 9l-2 0" />
                    <path d="M5 12v7a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-7" />
                </svg>
            </li>
        </a>
        <a href="#experience"><li class="text-xs border border-transparent hover:border-b-orange-300 hover:text-orange-300 duration-200">Experience</li></a>
        <a href="#proyects"><li class="text-xs border border-transparent hover:border-b-orange-300 hover:text-orange-300 duration-200">Proyects</li></a>
        <a href="#about"><li class="text-xs border border-transparent hover:border-b-orange-300 hover:text-orange-300 duration-200">About me</li></a>
        <a href="#contact"><li class="text-xs border border-transparent hover:border-b-orange-300 hover:text-orange-300 duration-200">Contact</li></a>
    </ul>
</navbar>

<style>
    .navbarContainer {
        height: 60px;
        clip-path: polygon(0% 0%, 100% 0%, 100% 70%, 50% 100%, 0% 70%);
    }
    .active {
    color: #ff6347; /* Cambia esto al color que prefieras */
}
</style>